#container-elem-house-of-watkins-random-name {
	position: sticky;
	top: 0px;
	width: 100vw;
	height: 100vh;
	video {
		display: block;

		width: 100vw;

		object-fit: cover;
	}
}

.text-for-the-video {
	font-weight: 300;
	z-index: 9999;
	line-height: 1.1;
}
